body{
	/*margin: 0px;*/
	padding: 0px;
	display: grid;
	grid-template-columns: 1300px;
	justify-content: center;
	font-family: ABeeZee;
}

ul{
	margin: 0;
	padding: 10px;
	list-style-type: none;
	display: grid;
	grid-template-columns: 70% 10% 10% 10%;
	grid-column-gap: 5px;
	position: sticky;
	top: 0px;
	/*background-color: lavender;*/
	z-index: 20;
	align-items: center;
}

li a{
	text-decoration: none;
	display: inline-block;
	color: black;
	font-weight: bold;
	width: 70px;
	padding: 10px;
	font-size: 20px;
}

li a:hover{
	color: green;
}

.contact{
    position: relative;
	border: 2px solid green;
	color: green;
	transition: background-color 2s, color 2s, box-shadow 2s;
}
.contact:hover{
	background-color: green;
	color: white;
	box-shadow: 5px 5px 8px lightgray;
}

.logo{
	font-family: Sofia;
	width: 317px;
	color: green;
	font-size: 30px;
	font-weight: bolder;
}

.aboutme{
	position: relative;
	top: 200px;
	left: 300px;
	background-color: lavender;
	width: 900px;
	height: 550px;
}

.aboutme div{
	position: absolute;
	top: 200px;
	left: -170px;
}

.aboutme img{
	display: block;
	position: absolute;
	width: 450px;
	height: 600px;
	top: -150px;
	right: 20px;
	border: 7px solid white;
	box-shadow: 6px 6px 10px lightgray;
}
